body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.search-container {
  margin: 10px;
  padding: 10px;
}
nav {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  position: fixed;
}
.sidebar {
  margin: 10px;
  padding: 10px;
  width: 250px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

#searchButton #searchInput {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #e3f2fd;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.card {
  width: fit-content;
  margin: 10px;
  padding: 10px;
  height: 100%;
}
.card-deck {
  column-count: 5;
  display: inline-block;
  display: flex;
}
.Favorable {
  border: solid green 2px;
  border-radius: 25px;
  background: green;
  padding: 5px;
  width: fit-content;
  color: white;
}

.Moderate {
  border: solid yellow 2px;
  border-radius: 25px;
  background: yellow;
  padding: 5px;
  width: fit-content;
  color: white;
}

.High {
  border: solid orange 2px;
  border-radius: 25px;
  background: orange;
  padding: 5px;
  width: fit-content;
  color: white;
}

.Severe {
  border-left: solid red 2px;
  border-radius: 25px;
  background: red;
  padding: 5px;
  width: fit-content;
  color: white;
}
